@import "tailwindcss";
@theme {
    --color-main: #E0E0E0;
    --color-hover: #888888;
    --color-border: #888888;
    --color-background: #121212;
    --color-secondarybackground: #1E1E1E;
    --color-accent: #3A82F7;
}