@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
}

:root {
    --radius: 0.625rem;
    
    --background: #FFFFFF;
    --foreground: #1F2937;
    --secondary: #F5F5F5;
    --muted: #6B7280;
    --accent: #2563EB;
    --border: #E5E7EB;
    --card: #FFFFFF;
    --primary: #0EA5E9;
    
    --card-foreground: #1F2937;
    --popover: #FFFFFF;
    --popover-foreground: #1F2937;
    --primary-foreground: #FFFFFF;
    --secondary-foreground: #1F2937;
    --muted-foreground: #6B7280;
    --accent-foreground: #FFFFFF;
    --destructive: oklch(0.577 0.245 27.325);
    --input: #E5E7EB;
    --ring: #2563EB;
}

.dark {
    --background: #000000;
    --foreground: #E0E0E0;
    --secondary: #141414;
    --muted: #A5A5A5;
    --accent: #ff8e00;
    --border: #888888;
    --card: #222222;
    --primary: #636363;
    
    --card-foreground: #E0E0E0;
    --popover: #222222;
    --popover-foreground: #E0E0E0;
    --primary-foreground: #E0E0E0;
    --secondary-foreground: #E0E0E0;
    --muted-foreground: #A5A5A5;
    --accent-foreground: #000000;
    --destructive: oklch(0.704 0.191 22.216);
    --input: #888888;
    --ring: #ff8e00;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

