---
import About from '../components/about.astro';
import Devstack from '../components/devstack.astro';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
---
<Layout>
    <div class="mx-auto max-w-[1000px]">
        <About/>
        <Devstack/>
    </div>
</Layout>
