---
import Layout from '../layouts/Layout.astro';
import ProjectsTab from '../components/projects.astro';
---
<Layout>
    <div class="mx-auto max-w-[1000px]">
        <ProjectsTab/>
    </div>
</Layout>