---
import "../styles/global.css"

function getAge() {
    const birthDate = new Date("2002-05-24")
    const currentDate = new Date();
    return Math.floor((currentDate.getTime() - birthDate.getTime()) / 3.15576e10)
}
---

<div class="text-left border-2 rounded-2xl mt-10 p-10 mx-40 bg-secondarybackground border-accent dark:bg-secondarybackground-dark dark:border-accent-dark ">
    <h1 class="text-4xl font-bold ">Hello, my Name is Darren Yeo!</h1>
    <p class="text-lg mt-2 ">I am a {getAge()} year old student based in Kiel, Germany and studying Media
        Engineering at
        Fachhochschule Kiel. Currently I am also working as a First-Level-Supporter at PPI-Media.</p>
</div>