---
import "../styles/global.css"

function getAge() {
    const birthDate = new Date("2002-05-24")
    const currentDate = new Date();
    return Math.floor((currentDate.getTime() - birthDate.getTime()) / 3.15576e10)
}
---

<div class="text-left border-2 rounded-2xl mt-10 p-10 mx-40 bg-secondarybackground border-accent dark:bg-secondarybackground-dark dark:border-accent-dark">
    <h1 class="text-4xl font-bold ">Hello, my Name is Darren Yeo.</h1>
    <div class="mt-2 text-secondarytext dark:text-secondarytext-dark">
        <p class="text-lg ">I’m {getAge()} years old and currently studying Media Engineering at Fachhochschule Kiel.
            Alongside my studies, I work as a First-Level Supporter at PPI-Media.</p>
        <ul class="pt-4">
            <li><span class="font-bold text-text dark:text-text-dark">Languages:</span> German, English, Mandarin,
                Spanish (Basics)
            </li>
            <li><span class="font-bold text-text dark:text-text-dark">Hobbies:</span> Programming, Gaming, Reading,
                playing Guitar
            </li>
        </ul>
    </div>
</div>