---
const links = [
    {name: "Home", url: "/"},
    {name: "About", url: "/about"},
    {name: "Contact Me", url: "/contact"}
];
---
<footer class="p-5 mt-auto text-text bg-background border-accent dark:text-text-dark dark:bg-background-dark dark:border-accent-dark">
    <div class="flex items-center px-4">
    <small class="flex-1">© 2025 Darren Yeo</small>
    <nav class="flex-1 flex justify-center gap-4 align-middle">
        {links.map(link => (
                <a
                        href={link.url}
                >
                    {link.name}
                </a>
        ))}
    </nav>
        <div class="flex-1"></div>
    </div>
</footer>