<div class="mx-40 mt-10 p-10">
    <ul class="grid grid-cols-3 grid-rows-2 flex-wrap gap-4 text-xl justify-content-center text-center ">
        <li class="border rounded-lg p-4 border-accent dark:border-accent-dark">Project1</li>
        <li class="border rounded-lg p-4 border-accent dark:border-accent-dark">Project2</li>
        <li class="border rounded-lg p-4 border-accent dark:border-accent-dark">Project3</li>
        <li class="border rounded-lg p-4 border-accent dark:border-accent-dark">Project4</li>
        <li class="border rounded-lg p-4 border-accent dark:border-accent-dark">Project5</li>
        <li class="border rounded-lg p-4 border-accent dark:border-accent-dark">Project6</li>
    </ul>
</div>