---
import Footer from '../components/footer.astro';
import Navigation from '../components/navigation.astro';
import 'devicon/devicon.min.css'
---
<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link>
    <meta name="generator" content={Astro.generator}/>
    <title>Darren Yeo</title>
</head>
<body class="flex flex-col min-h-screen bg-background text-text dark:bg-background-dark dark:text-text-dark ">
<Navigation/>
<slot/>
<Footer/>
</body>
</html>
